{{ define "main" }}

{{ partial "store-topbar.html" }}

{{ with .Content }}

<section class="section my-4 py-0">
  <div class="container">
    <div class="col-12 content">
      {{ . }}
    </div>
  </div>
</section>

{{ end }}

<section class="section pb-3 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        <h2>Catalogs and souvenirs</h2>
      </div>
    </div>
    <div class="row">
      {{ range .Pages.ByWeight }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ partial "store-card" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        <h2>Map reproductions</h2>
        <p>All of our reproductions are printed in-house on HP Super Heavyweight Plus Matte paper and HP ink. All images are printed on paper with a 3 inch border on all sides. Images are cropped to the views and dimensions shown below.</p>
      </div>
    </div>
    <div class="row">
      {{ range .Site.Data.reproductions.results }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ partial "repro-listing" .properties }}
      </div>
      {{ end }}
    </div>
  </div>
</section>


{{ end }}