{{ define "main" }}

{{ $data := site.Data }}


{{ $events := where site.RegularPages.ByDate "Type" "event" }}
{{ $events := $events | intersect ( where $events "Date" "ge" now ) | first 3 }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}



<section class="hero-section overlay bg-cover" id="hero-section-frontpage-slider">

  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      {{ range .slider_item }}
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="animate__fadeOutRight animate__animated" data-delay-out="9" data-duration-in=".3"
              data-animation-in="animate__fadeInLeft animate__animated" data-delay-in=".1">{{ .title | markdownify }}</h1>
            {{/*  <p class="mb-4" data-animation-out="animate__fadeOutRight animate__animated" data-delay-out="9" data-duration-in=".3" data-delay-in=".2" data-animation-in="animate__fadeInLeft animate__animated" ><span class="slider-caption">{{ .content | markdownify }}</span></p>  */}}
            {{ if .button.enable }}
            <a href="{{ .button.link | absURL }}" class="btn btn-sm btn-secondary hero-button" data-animation-out="animate__fadeOut animate__animated" data-delay-out="7" data-duration-in=".3" data-animation-in="animate__fadeIn animate__animated" data-delay-in=".7">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<script type="text/javascript">
  var bg_images = [];
  {{range .bg_images}}bg_images.push({{ . }});
  {{ end }}
  document.getElementById("hero-section-frontpage-slider").setAttribute("data-background", bg_images[Math.floor(Math.random() * bg_images.length)]);
</script>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section py-3 cta frontpage-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 cta-popper-outer"><div class="cta-popper"><h2 class="my-3">Whats new?</h2></div></div>
      <div class="col-lg-9 cta-body">
        <ul>
          <li><span class="badge badge-light font-secondary whats-new-badge">Next event</span>{{ range first 1 ($events)}}
              <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="text-secondary">{{ .Page.Params.date.Format "Jan 2, 2006" }}</span>
            {{ end }}</li>

          {{ range .announcements }}
          <li>
          <span class="badge badge-secondary badge-light font-secondary  whats-new-badge">{{ .badge }}</span>
          <a href="{{ .link }}">{{ .text | markdownify }}</a></li>

          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->


<!-- about us -->
{{ if $data.homepage.audiences.enable }}
{{ with $data.homepage.audiences }}
<section class="section frontpage-content">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
      {{ range .audienceGroups }}
      <div class="col mb-1">
        <div class="card frontpage-audience-card border-0">
          <div class="card-body">
            <h2 class="card-title" {{- with .color -}} style="color:{{ . }}" {{- end -}}>{{ .name }}</h2>
            <div class="card-subtitle text-secondary pb-3">{{ .description }}</div>
            <ul class="p-0">
            {{ range .links }}
              <li class="mx-0 my-2"><i class="fas fa-angle-right"></i> <a href="{{ .link }}" class="card-link font-secondary mr-4">  {{ .title | markdownify }}</a></li>
            {{ end }}
          </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->

<section class="section pt-0 frontpage-searcher">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="frontpage-searcher-callout-outer">
          <div class="frontapge-searcher-callout-inner">
            <h2>Search digital collections</h2>
            <p class="text-white">Make a quick search of our main Digital Collections portal. For more, see <a href="/collections/searching">Searching the Collections</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="input-group input-group-xl">
          <input type="text" class="form-control" placeholder="Try searching for ..." id="frontpage-searcher-input">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="frontpage-searcher-submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

document.addEventListener("DOMContentLoaded", function(){
  var phrases = [
        "Battle of Bunker Hill",
        "Lowell, Massachusetts",
        "map monster",
        "East Boston atlas",
        "survey chart",
        "immigration"
    ];

    var i = 0;
    el = document.getElementById("frontpage-searcher-input");

    setInterval( function(){
      el.setAttribute("placeholder", phrases[i]);
      if( i === phrases.length - 1) { i = 0 } else { i++; } }, 3000);

});


function submitFrontpageSearch(){
    var inputEl = document.getElementById('frontpage-searcher-input');
    var s = inputEl.value === '' ? inputEl.getAttribute('placeholder') : inputEl.value;
    window.open('https://collections.leventhalmap.org/search?utf8=✓&q=+' + encodeURI(s) );
  }
  document.getElementById("frontpage-searcher-submit").addEventListener('click', submitFrontpageSearch );
  // Bind to enter key
  document.getElementById("frontpage-searcher-input").addEventListener('keyup', function(e){ 
    if(e.keyCode == 13 ){ submitFrontpageSearch(); }
  });
</script>



<!-- frontpage Feature -->
{{ if $data.homepage.frontpageFeature.enable }}
{{ partial "frontpage-feature.html" . }}
{{ end }}
<!-- /frontpage Feature -->

<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.event.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relURL }}" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block text-nowrap"><i class="fas fa-calendar-alt mr-2"></i> All events</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->



      {{ range $events }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relURL }}" class="btn btn-md btn-primary-outline d-sm-none d-inline-block"><i class="fas fa-calendar-alt mr-2"></i> All events</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col text-center mt-3"><a class="btn btn-secondary btn-large" href="">Support Our Work</a></div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.blog.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `articles` | relURL }}" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block text-nowrap"><i class="far fa-newspaper mr-2"></i> All articles</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "articles")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`articles` | relURL }}" class="btn btn-md btn-primary-outline d-sm-none d-inline-block"><i class="far fa-newspaper mr-2"></i> All articles</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

{{ end }}