/* Button style */
.btn {
  font-size: 16px;
  font-family: $sans;
  padding: 15px 40px;
  border-radius: 3px;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  transition: background-color .5s ease;
  overflow: hidden;
  // white-space: nowrap;

  

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }


}

.btn-sm {
  font-size: 14px;
  padding: 10px 35px;
}

.btn-xs {
  font-size: 12px;
  padding: 5px 15px;
}

.btn-primary {
  background: $button-primary-color;
  color: $white;

  &::before {
    background: $white;
  }

  &:active {
    background: $button-primary-color !important;
    color: $button-primary-color;

    &::before {
      height: 80%;
    }
  }

  &:hover {
    background-color: darken($button-primary-color, 10);
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: $white;
  background-color: darken($color: $primary-color, $amount: 10);
  border-color: darken($color: $primary-color, $amount: 10);
}

.btn-secondary {
  background: $white;
  color: $primary-color;
  border: 1px solid $white;

  &::before {
    background: $primary-color;
  }

  &:active {
    background: $primary-color;
    color: $white;
    border: 1px solid $white;
  }

  &:hover {
    background: lighten($primary-color, 5);
    color: $white;
    border: 1px solid $white;
  }
}

.btn-primary-outline {
  border: 1px solid $primary-color;
  color: $primary-color;
  background: transparent;

  &::before {
    background: $white;
  }

  &:hover {
    background: adjust-color($primary-color, $alpha: -0.8);
    color: $primary-color;
  }

  &:active {
    background: $primary-color;
    color: $white;
  }
}

.btn-primary-gradient {
  background-image: linear-gradient(to right bottom, $primary-color 0%, rgb(160, 28, 28) 51%, $primary-color 100%);
  transition: 0.5s;
  background-size: 200% auto;

  &:hover {
    background-position: right center;
  }
}

.btn-primary-white {
  border: 1px solid $primary-color;
  color: $primary-color;
  background: white;

  &::before {
    background: $white;
  }

  &:hover {
    background: adjust-color(white, $alpha: -0.2);
    color: $primary-color;
  }

  &:active {
    background: $primary-color;
    color: $white;
  }
}

.btn-emphasis-bounce {

    animation-name: bounce1;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: 3;

}

@keyframes bounce1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-3px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(3px); }
  100% { transform: translateY(0px); }

}