// Color Variables
$primary-color: #054571;
$secondary-color: #1a1a37;
$text-color: #313131;
$text-color-light: #c8c8c9;
$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

$button-primary-color: #006688;
$link-color: maroon;

// Font Variables
$primary-font: lemonde-journal, serif;
$secondary-font: hero-new, sans-serif;

$serif: lemonde-journal, serif;
$sans: hero-new, sans-serif;
