<li class="d-flex py-4">
  <div class="flex-shrink-0">
    <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="me-3" width="150px">

  </div>
  <div class="flex-grow-1 ms-3">
    <h4><a href="{{ .Permalink }}" class="font-weight-normal">{{ .Title }}</a></h4>
    <h6 class="text-muted">{{ dateFormat "2 Jan 2006" .Date.Local }}</h6>
    <a class="btn btn-xs btn-outline-primary mt-2" href="{{ .Permalink }}" target="_blank"><i class="fas fa-user-plus"></i> Learn More</a>
  </div>
</li>