<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative">
    <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
    <div class="card-date"><span>{{ dateFormat "2" .Date.Local }}</span><br>{{ dateFormat "Jan" .Date.Local }}</div>
  </div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <h6>{{- range .Params.tags }}
      <span class="badge badge-pill badge-light mb-1">{{ . }}</span>
      {{- end }}</h6>
  </div>
</div>