{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          

          <div class="col-12 mb-5 content">

            {{ .Content }}
          </div>
          
        </div>
      </div>
      <aside class="col-lg-4 order-2 order-lg-2 section-sidebar">
      {{ partial "section-sidebar.html" . }}
      {{ if .Params.quicklinks }}
      {{ partial "quicklinks-sidebar.html" .Params.quicklinks }}
    {{ end }}

    </aside>
    </div>
  </div>
</section>

{{ end }}