{{< pd-listing 
    image="/uploads/2021-09-03/mapgiveaway.jpg" 
    title="The Educator Social and Map Giveaway at the Leventhal Map & Education Center (in person)" 
    subtitle="Thursday, September 23, 3:00 to 5:30 pm" 
    description="Drop in when you can and stay as long, or as little, as you like!"
    signUpLink="https://forms.gle/dmYd6GKtwbkBC7uo8"
>}}