
  

<div class="bg-white mb-5">
  <h4 class="mb-4">Tags</h4>
  <p>
  {{- if isset site.Taxonomies "tags" }}
  {{- if not (eq (len site.Taxonomies.tags) 0) }}
  
    {{- range .Params.tags }}
    <span class="badge badge-light">{{ . }}</span>
    {{- end }}
  {{- end }}
  {{- end }}
</p>
</div>

<div class="bg-white">
  <h4 class="mb-4">Other Articles</h4>
  {{ "<!-- post-item -->" | safeHTML }}
  {{ range first 3 ( where site.Pages "Type" "articles" )}}
  <div class="media border-bottom border-color pb-3 mb-3">
    <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.Image | absURL }}"></a>
    <div class="media-body">
      <a href="{{ .Permalink }}">
        <h5 class="mt-0">{{ .Title }}</h5>
      </a>
      {{ .PublishDate.Format "02 Jan 2006" }}
    </div>
  </div>
  {{ end }}
</div>
  
  