<!-- footer -->
<footer>
  <!-- newsletter -->
  {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}

  <div class="donation-footer-buttons py-3">
    <div class="container">
      <div class="row">
        <a href="#XGXFKKEY" style="display: none"></a>
      </div>
    </div>
  </div>
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom text-light">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
        <a class="sitename-footer" href="{{ site.BaseURL }}">{{ site.Title }}</a>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          
          
          <ul class="list-unstyled">
            <li class="mb-4">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4">{{ site.Params.email | markdownify }}</li>
            <li class="mb-4">{{ site.Params.mobile | markdownify }}</li>
          </ul>
        </div>

        <div class="col-lg-3 col-sm-6 mb-5">
          <div class="mb-3">Gallery Hours {{ with .Site.Data.hours.specialNote }}<i>{{ . }}</i>{{ end }}</div>
          <ul class="list-unstyled">
          {{ range .Site.Data.hours.weekly }}
          <li class="mb-1">
{{ .day }}: 

                {{ with .special }}
                 {{ . }}
                {{ else }}
                {{ .open }} – {{ .close }}
                {{ end }}</li>
          {{ end }}
          </ul>
        </div>
        <!-- company -->
        <div class="col-lg-3 col-sm-6 mb-5 mb-md-0">

          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="mb-3"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        <!-- links -->
        <div class="col-lg-3 col-sm-6 col-6 mb-5 mb-md-0">
          <ul class="list-unstyled text-light">
            {{ range site.Menus.footer }}
            <li class="mb-3"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
       

      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-white"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->



{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


{{ if eq .Section "store" }}
<div id="snipcart" data-api-key="OTk4YzFmZTktNTRkMy00ZjlkLTk3ZTAtYTlmMDRlMjRhNjNmNjM3NzE0NzUwMjM4NjE3MjU0" hidden></div>
<script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
{{ end }}


<!-- accessibility widget -->
<!-- <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "pV2XMqrgjT");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script>
<script> var _ctct_m = "d1ed44eb685b1f933362e12e4ae5d103"; </script> -->

<!-- {{ if site.Params.emailPopup }}
{{ if not .Params.suppressEmailPopup }}

<script async src="https://eomail5.com/form/1a74691e-40a4-11ec-96e5-06b4694bee2a.js" data-form="1a74691e-40a4-11ec-96e5-06b4694bee2a"></script>

{{ end }}
{{ end }} -->