<!-- page title -->
{{ if ne .Params.layout "paneltruck" }}
<section class="page-title-section overlay" {{ with .Params.BackgroundImage }}style="background-image: url('{{ . | relURL}}');"{{ else }}style="background-image: url('https://iiif.digitalcommonwealth.org/iiif/2/commonwealth:x633fc377/678,2866,8033,2018/1200,/0/default.jpg');"{{ end }} >
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <h2 class="text-white animate__animated animate__fadeInDown">
{{ .Title }}</h2>
        <p class="text-lighten animate__animated animate__fadeIn page-subheader">{{ if eq .Section "articles" }}<span class="badge badge-light font-secondary mr-3">Article</span>{{ else if eq .Section "event" }}<span class="badge badge-light font-secondary mr-3">Event</span>{{ end }}{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>

{{ else }}
<section class="page-title-section overlay" style="background-color: #1A1A35;" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <h2 class="text-white animate__animated animate__fadeInDown">
{{ .Title }}</h2>
<p class="text-lighten animate__animated animate__fadeIn page-subheader"><span class="badge badge-light font-secondary mr-3">Interactive</span></p>

      </div>
    </div>
  </div>
</section>
{{ end }}