
{{ $iiif_endpoint := (index . "IIIF Image Endpoint").url }}
{{ $extent1 :=  (index . "Extent 1").number  }}
{{ $extent2 :=  (index . "Extent 2").number  }}
{{ $extent3 :=  (index . "Extent 3").number  }}
{{ $extent4 :=  (index . "Extent 4").number  }}
{{ $thumbnail_image := print $iiif_endpoint "/" $extent1 "," $extent2 "," $extent3 "," $extent4 "/pct:25/0/default.jpg" }}
{{ $title := index (index (index . "Title").rich_text 0) "plain_text"  }}
{{ $store_id := index (index (index . "Identifier").title 0) "plain_text" }}
{{ $price := (index . "Price").number }}
{{ $collections_url := (index . "Digital Collections URL").url }}

<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0 page-card store-card">
    <img class="card-img-top rounded-0" src="{{ $thumbnail_image }}"></a>
    <div class="card-body">
      <h3 class="card-title">{{ $title }}</a></h3>
      <h5>{{ $price | lang.FormatCurrency 2 "USD" }}</h5>
      <p class="card-text">Image: {{ (div $extent3 300) | lang.FormatNumber 2 }} inches wide × {{ (div $extent4 300) | lang.FormatNumber 2 }} inches high </p>
      <p class="card-text">Paper: {{ (add (div $extent3 300) 6) | lang.FormatNumber 2}} inches wide × {{( add (div $extent4 300) 6) | lang.FormatNumber 2 }} inches high </p>
      <button class="snipcart-add-item btn btn-primary mb-2"
        data-item-id="repro-{{ $store_id }}"
        data-item-price="{{ $price }}"
        data-item-description="Printed reproduction of {{ $title }}, {{ div $extent3 300 }} inches wide × {{ div $extent4 300 }} inches high with 6 inch margins"
        data-item-image="{{ $thumbnail_image }}"
        data-item-name="Reproduction: {{ $title }}"

      ><i class="fas fa-plus-circle me-2"></i> Add to cart</button><br>
      <a class="btn btn-primary-outline btn-sm mb-2" href="{{ $collections_url }}">Digital Collections Record</a>

    </div>
  </div>