{{ define "main" }}
{{ with .Content }}
<section class="section-sm">
  <div class="container">
    <div class="col-12 mb-5 content">
      {{ . }}
    </div>
  </div>
</section>

{{ end }}

<section class="section pb-3 {{ if .Content }}pt-1{{ end }} mb-2">
  <div class="container">
    <div class="row">
      {{ range where .Pages.ByWeight "Params.menu" "!=" false  }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "alt-gallery" }}</div>
      {{ end }}
    </div>
  </div>
</section>


{{ end }}