  <div class="d-flex course-listing my-4 media">
    <div class="flex-shrink-0">
      <img src="{{ .Get "image" | relURL }}" class="mr-3" alt="{{ .Get "title" }}">
    </div>
    <div class="flex-grow-1 ms-3">
      <h4 class="mt-0">{{ .Get "title" }}</h4>
      <h6 class="text-muted">{{ .Get "subtitle" }}</h6>
      {{ .Get "description" | markdownify }}
      {{ with .Get "lessonFile" }}
      <br>
      <a class="btn btn-xs btn-outline-primary mt-2" href="{{ . }}"><i class="fas fa-file-download"></i> Download lesson material</a>
      {{ end }}    </div>
  </div>
