<!-- <style>
  #popupTooltip {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
    max-height: 500px;
    max-width: 500px;
  }
</style> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<a id="popup" href="{{ .Get `src`}}" class="popupTooltip" target="blank">{{.Inner}}</a>
<!-- <script>
  this.iiifPreview = function() {
    xOffset = 200;
    yOffset = 30;
    $("a.popup").hover(function(e) {
        this.t = this.title;
        this.title = "";
        let c = (this.t != "") ? "<br/>" + this.t : "";
        $("body").append("<p id='popup'><img src='" + this.href + "' alt='url preview' />" + c + "</p>");
        $("#popupTooltip")
          .css("top", (e.pageY - xOffset) + "px")
          .css("left", (e.pageX + yOffset) + "px")
          .fadeIn("fast");
      },
      function() {
        this.title = this.t;
        $("#popupTooltip").remove();
      });
    $("a.popup").mousemove(function(e) {
      $("#popupTooltip")
        .css("top", (e.pageY - xOffset) + "px")
        .css("left", (e.pageX + yOffset) + "px");
    });
  };
  $(document).ready(function() {
    iiifPreview();
  });
</script> -->
