<div class="container">
  <div class="row">
  {{ range $.Site.Data.education.Resources}}
    {{ if in .Theme "Maptivist"}}
      <div class="col-lg-6 col-sm-8 mb-5 mb-lg-0 mb-4">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0 page-card alt-gallery-card">
          <div>
            {{ range .Image }}<br>
            <img class="card-img-top rounded-0" src="{{ .url }}">
            {{ end }}
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ .Name}}</h3>
            <!-- <i>{{ .Type }}</i><br>
            Grade Level: <br>
            {{ range .Grade_Level }}
              <span class="badge badge-pill badge-info mb-1">{{.}}</span>
            {{ end }}<br>
            Themes: <br>
            {{ range .Theme }}
              <span class="badge badge-pill badge-info mb-1">{{.}}</span>
            {{ end }}<br><br> -->
            <!-- {{ .Description }} -->
            <a href="{{ .URL }}" target="_blank" class="btn btn-primary btn-primary-outline btn-sm mb-2"><i class="fas fa-external-link-square-alt me-2"></i> See Resource </a>
          </div>
        </div>
      </div>
  {{end}}
  {{ end }}
</div>
</div>