{{ $complete := .Get "complete-filter"}}
<div class="container">
  <div class="row mt-10">
    {{ range $.Site.Data.grants.SmallGrants}} {{ if (in .Complete $complete )}}
    <div class="col-lg-4 col-md-5 col-sm-6 mb-5 mb-lg-0 my-3">
      <div class="card rounded-0 hover-shadow alt-gallery-card">
        <div class="card-img position-relative">
          <img
            class="card-img-top rounded-0"
            src="{{ .ImageUrl }}"
            height="100px"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ .ProjectUrl }}" target="_blank">{{ .Title}}</a>
          </h5>
          <span>By <i>{{ .Name }}</i></span><br><br>
          {{if (in $complete "yes") }}
          <span
            class="badge {{ .Color }} font-secondary text-white fw-normal mt-1"
            >Part of the {{ .Cycle }} cycle</span
          >
          {{ end }}
          <br /><br />
          <a
            href="{{ .ProjectUrl }}"
            target="_blank"
            class="btn btn-primary btn-primary-outline btn-xs mb-2"
            ><i class="fas fa-external-link-square-alt me-2"></i> See the
            publication
          </a>
        </div>
      </div>
    </div>
    {{end}} {{ end }}
  </div>
</div>
